@{
    ViewData["Title"] = "Home Page";
}

<!--start landing section-->
<div class="landing">
    <div class="intro-text">
        <h1> Hello Threre</h1>
        <p>We are Leon - Super Creative & Minimal Agency Web Template</p>
    </div>

</div>

<!--end landing section-->

<!--start section feauter-->

<div class="features" id="features">
    <div class="container">
        <div class="feat">
            <i class="fa-solid fa-wand-magic-sparkles"></i>       
            <h3>
            Tell Us Your Idea..
            </h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut la
                </p>
        </div>

        <div class="feat">
            <i class="fa-regular fa-gem"></i>      
            <h3>
                We will do all the work..
</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut la
            </p>
        </div>


        <div class="feat">
            <i class="fa-solid fa-earth-americas"></i>          
            <h3>
                Your porduct is Worldwide
            </h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut la
            </p>
        </div>
    </div>

</div>
<!--end section feauter-->

<!--start services sections-->
<div class="services" id="services">
    <div class="container">
        <h1 class="spacial-heading">Services</h1>
        <p> Don't be busy be productive</p>
    
        <div class="services-content">
            <div class="col">
                <div class="srv">
                      <i class="fa-solid fa-palette"></i>
                      
                      <div class="text">
                          <h3>Graphic design</h3>
                          <p>Graphic design is the process of visual communication and problem-solving 
                          using one or more of typography, photography and illustration.</p>
                      </div>
                </div>
                
                <div class="srv">
                    <i class="fa-solid fa-gem"></i>
                    <div class="text">
                          <h3> UI & UX</h3>
                          <p>Process of enhancing user satisfaction with a product by improving
                              the 
                               usability, accessibility, and pleasure 
                               provided in the interaction.</p>

                      </div>
                </div>
            </div>


            <div class="col">
                <div class="srv">
                    <i class="fa-solid fa-vector-square"></i>
                    <div class="text">
                        <h3>web  design</h3>
                        <p>
                         Web design encompasses many different skills and disciplines in the 
                         production and maintenance of  websites.
                        </p>
                    </div>
                </div>

                <div class="srv">
                    <i class="fa-solid fa-pen-ruler"></i>
                    <div class="text">
                        <h3> Web development</h3>
                        <p>
                            Process of enhancing user satisfaction with a product by improving
                            the
                            usability, accessibility, and pleasure
                            provided in the interaction.
                        </p>

                    </div>
                </div>
            </div>
            <div class="col ">
                <div class="image image-column ">
                  <img src="~/images/assest/mounatin.jpg"  />
                </div>
                   
            </div>

        </div>
   

        </div>


 
   
</div>
<!-- end services section-->


<!-- start portfolio section-->

<div class="portfolio" id="portfolio">
    <div class="container">
        <h1 class="spacial-heading">Portfolio</h1>
        <p> If you do it right , it will be last forever</p>
        <div class="portfolio-content">
             <div class="card">
                 <img src="~/images/assest/portfolio/portfolio-1.jpg"/>
                 <div class="info">
                     <h3>Project Here</h3>
                         <p>
                             My creative ability is very difficult to measure because
                             it can manifest in so many surprising and.
                         </p>
                 </div>
             </div>
             
             <div class="card">
                 <img src="~/images/assest/portfolio/portfolio-2.jpg"/>
                <div class="info">
                     <h3>Project Here</h3>
                         <p>
                             My creative ability is very difficult to measure because
                             it can manifest in so many surprising and.
                         </p>
                 </div>
             </div>
             
             <div class="card">
                 <img src="~/images/assest/portfolio/portfolio-3.jpg"/>
                <div class="info">
                    <h3>Project Here</h3>
                    <p>
                        My creative ability is very difficult to measure because
                        it can manifest in so many surprising and.
                    </p>
                </div>
             </div>
         </div>
    </div>

</div>

<!-- end portfolio section-->

   <!--start about section-->
   <div class="about" id="about">
       <div class="container">
        <h1 class="spacial-heading">About</h1>
        <p>Less is more work</p>
        <div class="about-content">
            <div class="image">
                <img src="~/images/assest/about.jpg" />
            </div>
            <div class="text">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil nemo
                    neque voluptate tempora velit cum non
                    , fuga vitae architecto delectus sed maxime rerum impedit aliquam obcaecati, aut excepturi iusto laudantium!</p>

                    <hr />
               <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil nemo
                neque voluptate tempora velit cum non
                , fuga vitae architecto delectus sed maxime rerum impedit aliquam obcaecati, aut excepturi iusto laudantium!
                </p>
            </div>

        </div>
       </div>
   </div>

   <!--end about section-->

   <!--start  contact section -->

<div class="contact" id="contact">
       <div class="container">
        <h1 class="spacial-heading">ContactUs</h1>
<p>we are born to create</p>
<div class="info">
            <p class="label">
                Feel free to drop us a line at:</p>

                <a href="mailto: leonagency@mail.com?subject:contact" class="link">   
                    leonagency@mail.com</a>
               <div class="social"> 
                   Find Us On Social Networks 
                   <i class="fab fa-youtube"></i>
                   <i class="fab fa-facebook-f"></i>

                   <i class="fab fa-twitter"></i>
               </div>
            
</div>
       </div>

   </div>
   <!--end  contact section -->